.container {
    background-color: rgb(60,60,51);
    padding: 10px;
    font-size: 1.5rem;
    /* display: flex; */
    flex-wrap: wrap;
}

.box1 {
    background-color: rgb(186, 97, 97);
}

.box2 {
    background-color: rgb(72, 188, 180);
}

.box3 {
    background-color: rgb(81, 81, 151);
}

@media only screen and (max-width: 700px) {
    .box1 {
        background-color: rgb(60, 122, 177);
        font-size: 2rem;
    }
}